@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Kavivanar&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
/*Notes while processing:
Newsreader > headlines
Kavivanar > default font
Just another Hand > handwritten style
*/

/* !═!═!═!═! In this project, I’m intentionally not sticking to the best practice
            of grouping CSS properties within the same selectors.
            I want to highlight specific elements more clearly this way !═!═!═!═! */

/* ══════ Primary Sketchbook Styling ══════ */
/* ═══ Paper-Background ═══ */
body {
  background-color: #fdfdfd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 19px 19px;
}
/* ═══ vertical red Line ═══ */
body::before {
  content: '';
  z-index: 3;
  position: fixed;
  top: 0;
  height: 100%;
  left: 7%;
  width: 2px;
  background-color: #ff0000b3;
  pointer-events: none;
}
/* ══════ Mobile first Fundament ══════ */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.style-head,
.semantic-container,
.semantic-title,
.handwritten {
  display: none;
}

.stack-container {
  display: block;
  width: 100%;
  max-width: 100%;
}

.content-container {
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Kavivanar';
}

/* ══════ horizontal Line ══════ */
.break {
  content: '';
  position: relative;
  bottom: 0px;
  width: 100dvw;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    rgba(90, 93, 100, 0.3) 20%,
    rgba(0, 0, 0, 0.1) 64%,
    rgba(90, 93, 100, 0.3) 75%
  );
  opacity: 0.7;
}

.logo {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
  max-width: 100%;
  opacity: 0.95;
  mix-blend-mode: multiply;
}

main .content-container {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.nav-container {
  display: flex;
  justify-content: left;
  white-space: nowrap;
  gap: 10px;
}

footer {
  text-align: center;
}

/* ══════ Media query for Displays ══════ */
@media (min-width: 1024px) {
  .style-head {
    display: contents;
  }

  .stack-container {
    display: grid;
    grid-template-columns: 7% 1fr;
    width: 100%;
  }

  .semantic-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Newsreader';
    color: rgba(21, 209, 56, 0.7);
    max-width: clamp(8px, 1rem, 7%);
  }
  .indent {
    padding-left: 0.75rem;
  }
  .style-head .content-container {
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  .handwritten {
    display: block;
    color: #2931337e;
    font-family: 'Just Another Hand';
    font-size: 30px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    filter: blur(0.3px);
  }

  .semantic-title {
    display: block;
    position: relative;
    left: -10%;
    margin: 0;
    padding: 20px 0px;
    transform: rotate(-5deg);
  }

  .semantic-title::before {
    content: 'meta: author/viewport... ';
    position: absolute;
    right: 120%;
    transform: rotate(8deg);
  }

  nav .content-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  nav .content-container,
  main .content-container {
    font-size: 1.2rem;
  }

  footer .content-container {
    margin: 25px;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .closer,
  .opener,
  .indent {
    font-size: 13px;
  }

  .indent {
    padding-left: clamp(0.3rem, 2vw, 0.75rem);
  }
}
